body 
{
    background-color:#3C8DAD;
    color: white;
    font-family: cursive;
}
h1 
{
    color: gold;
}
h2 
{
    color: #DDDDDD;
}
hr 
{
    border-style: none;
    border-top-style: dotted;
    border-color: #F5A962;
    border-width: 5px;
    width: 5%;
}